html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  background: #F2F2F2;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #0F1E36;
}

button,
input {
  font-family: inherit;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

main {
  padding-bottom: 100px;
}

.temp {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  min-width: 900px;
  margin: 0 auto;

  @media (max-width: 1024px) {
    max-width: 550px;
    min-width: auto;
  }

  @media (max-width: 650px) {
    max-width: 300px;
    min-width: auto;
  }
}

.header {
  padding-top: 30px;
  text-align: center;
  margin-bottom: 50px;
}

.player {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  &-btn {
    width: 140px;
    height: 30px;
    padding: 0;
    font-size: 13px;
    font-weight: 700;
    line-height: 2;
    margin: 0;
    cursor: pointer;
    border-bottom: 2px solid #000;

    @media (max-width: 650px) {
      max-width: 100px;
      min-width: auto;
    }
  }

  &-video.active {
    border-top: 2px solid #F51E38;
    border-right: 2px solid #F51E38;
    border-bottom: 2px solid transparent;
  }

  &-audio.active {
    border-top: 2px solid #F51E38;
    border-right: 2px solid #F51E38;
    border-bottom: 2px solid transparent;
    border-left: 2px solid #F51E38;
  }


  &-radio.active {
    border-top: 2px solid #F51E38;
    border-bottom: 2px solid transparent;
    border-left: 2px solid #F51E38;
  }
}


@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.footer-fix {
  width: 100%;
  height: 80px;
  background-color: #0F1E36;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
  color: #fff

  &_content {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
}

@import 'radio';

@import 'audio';

@import "video";


.video {
  display: none;

  &.active {
    display: flex;
  }
}

.audio {
  display: none;

  &.active {
    display: flex;
  }
}

.radio {
  display: none;

  &.active {
    display: flex;
  }
}


.red-text {
  color: #F51E38;
}
